In [8]:
library(shiny)
library(ggplot2)
library(lubridate)
library(dplyr)
library(DT)
library(tidyverse)
library(tidyr)
library(scales)

In [15]:
df <- read.csv(file = "csv/chunk0.csv", header = TRUE)

In [16]:
head(df)

  tripSeconds tripMiles pickupArea dropArea company tripStartTime
1 1260        0.6       77         28       23      2019-01-01 00:00:00
2  360        0.8        8          8       18      2019-01-01 00:00:00
3  360        1.0        8          8       18      2019-01-01 00:00:00
4  420        0.8        8          8       22      2019-01-01 00:00:00
5  180        0.7       77          4       18      2019-01-01 00:00:00
6  960        0.6       28         32       18      2019-01-01 00:00:00